.git/                                                                                                               │
│  .gitignore                                                                                                          │
│  *.md                                                                                                                │
│  .env                                                                                                                │
│  .vscode/                                                                                                            │
│  .vs/                                                                                                                │
│  */bin/                                                                                                              │
│  */obj/                                                                                                              │
│  */node_modules/                                                                                                     │
│  */dist/     