 bin/                                                                                                                │
│  obj/                                                                                                                │
│  *.log                                                                                                               │
│  *.user                                                                                                              │
│  .vs/                                                                                                                │
│  .vscode/  